USE [DB_CAFFE]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[TENBAN] [nvarchar](20) NOT NULL,
	[SLMAX] [int] NULL,
	[TINHTRANG] [nvarchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETBAN]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETBAN](
	[MAHD] [varchar](10) NOT NULL,
	[TENBAN] [nvarchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHEUNHAP]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHEUNHAP](
	[MAPHIEU] [varchar](10) NOT NULL,
	[MAHANG] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUDAT]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUDAT](
	[MAPHIEUDAT] [varchar](10) NOT NULL,
	[TENBAN] [nvarchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT](
	[MACT] [varchar](10) NOT NULL,
	[TIEUDE] [nvarchar](100) NULL,
	[NGAYDANG] [datetime] NULL,
	[ANH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[SOTIEN] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HEDING]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HEDING](
	[MA] [varchar](10) NOT NULL,
	[MACT] [varchar](10) NULL,
	[TEN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[SDT] [varchar](10) NULL,
	[NGAYLAP] [datetime] NULL,
	[GIODEN] [datetime] NULL,
	[GIODI] [datetime] NULL,
	[TONGTIEN] [float] NULL,
	[TINHTRANG] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SDTKH] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[EMAIL] [varchar](30) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PASSKH] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOHANG]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOHANG](
	[MAHANG] [varchar](10) NOT NULL,
	[TENHANG] [nvarchar](30) NULL,
	[DVT] [nvarchar](20) NULL,
	[SOLUONG] [int] NULL,
	[GIA] [float] NULL,
	[TINHTRANG] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MENU](
	[MASP] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
	[TENSP] [nvarchar](30) NULL,
	[SOLUONG] [int] NULL,
	[DVT] [nvarchar](30) NULL,
	[GIA] [float] NULL,
	[ANH] [varchar](30) NULL,
	[TINHTRANG] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[SODIENTHOAINCC] [varchar](11) NOT NULL,
	[TENNHACC] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[SDT] [varchar](10) NOT NULL,
	[MAQ] [varchar](10) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [varchar](30) NULL,
	[PASSNV] [varchar](15) NULL,
	[TINHTRANG] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NOIDUNG]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOIDUNG](
	[MA] [varchar](10) NULL,
	[MAND] [varchar](10) NOT NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[ANH] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANLOAI]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAI](
	[TENLOAI] [nvarchar](30) NOT NULL,
	[MOTA] [nvarchar](300) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAQ] [varchar](10) NOT NULL,
	[TENQ] [nvarchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDATBAN]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDATBAN](
	[MAPHIEUDAT] [varchar](10) NOT NULL,
	[SDTKH] [varchar](10) NULL,
	[NGAYLAP] [datetime] NULL,
	[GIODEN] [datetime] NULL,
	[TINHTRANG] [nvarchar](20) NULL,
	[SONGUOI] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 10/24/2023 12:17:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEU] [varchar](10) NOT NULL,
	[SDT] [varchar](10) NULL,
	[SODIENTHOAINCC] [varchar](11) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BAN] ([TENBAN], [SLMAX], [TINHTRANG]) VALUES (N'Bàn 01', 4, N'Trống')
INSERT [dbo].[BAN] ([TENBAN], [SLMAX], [TINHTRANG]) VALUES (N'Bàn 02', 4, N'Trống')
INSERT [dbo].[BAN] ([TENBAN], [SLMAX], [TINHTRANG]) VALUES (N'Bàn 03', 4, N'Trống')
INSERT [dbo].[KHACHHANG] ([SDTKH], [HOTEN], [EMAIL], [DIACHI], [PASSKH]) VALUES (N'0935852145', N'Nguyễn Như Yên', N'nhuyen@gmail.com', N'Tân Phú', N'123456')
INSERT [dbo].[KHOHANG] ([MAHANG], [TENHANG], [DVT], [SOLUONG], [GIA], [TINHTRANG]) VALUES (N'HH001', N' COFFEE', N'Kg', 20, 200000, N'Còn')
INSERT [dbo].[KHOHANG] ([MAHANG], [TENHANG], [DVT], [SOLUONG], [GIA], [TINHTRANG]) VALUES (N'HH002', N'Đường ', N'Kg', 20, 20000, N'Còn')
INSERT [dbo].[KHOHANG] ([MAHANG], [TENHANG], [DVT], [SOLUONG], [GIA], [TINHTRANG]) VALUES (N'HH003', N'Muối', N'Kg', 20, 10000, N'Còn')
INSERT [dbo].[MENU] ([MASP], [TENLOAI], [TENSP], [SOLUONG], [DVT], [GIA], [ANH], [TINHTRANG]) VALUES (N'SP01', N'Caffe', N'Americano', 50, N'Ly', 45000, N'AMERICANO_NONG.png', N'Đang bán')
INSERT [dbo].[MENU] ([MASP], [TENLOAI], [TENSP], [SOLUONG], [DVT], [GIA], [ANH], [TINHTRANG]) VALUES (N'SP02', N'Caffe', N'Bạc xỉu', 50, N'Ly', 29000, N'BAC_XIU.png', N'Đang bán')
INSERT [dbo].[MENU] ([MASP], [TENLOAI], [TENSP], [SOLUONG], [DVT], [GIA], [ANH], [TINHTRANG]) VALUES (N'SP03', N'Caffe', N'Cappuccino', 50, N'Ly', 65000, N'CAPPUCINO.png', N'Đang bán')
INSERT [dbo].[NHACUNGCAP] ([SODIENTHOAINCC], [TENNHACC], [DIACHI], [EMAIL]) VALUES (N'09874512547', N'Trung Nguyên', N'Thủ Đức', N'trungnguyen@gmail.com')
INSERT [dbo].[NHANVIEN] ([SDT], [MAQ], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL], [PASSNV], [TINHTRANG]) VALUES (N'0698521452', N'Q01', N'Nguyễn Văn Nghĩa', N'Nam', CAST(N'1990-10-20 00:00:00.000' AS DateTime), N'Tây Thạnh,Tân Phú, Tp.HCM', N'vannghia@gmail.com', N'123456', N'Đang làm việc')
INSERT [dbo].[NHANVIEN] ([SDT], [MAQ], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL], [PASSNV], [TINHTRANG]) VALUES (N'0895214785', N'Q02', N'Nguyễn Thị Hoa', N'Nữ', CAST(N'2000-02-13 00:00:00.000' AS DateTime), N'Tân Bình,Tp.HCM', N'thihoa@gmail.com', N'123456', N'Đang làm việc')
INSERT [dbo].[NHANVIEN] ([SDT], [MAQ], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL], [PASSNV], [TINHTRANG]) VALUES (N'0894512258', N'Q02', N'Trần Công Toàn', N'Nam', CAST(N'2002-12-20 00:00:00.000' AS DateTime), N'Quận 1,Tp.HCM', N'congtoan@gmail.com', N'123456', N'Đang làm việc')
INSERT [dbo].[PHANLOAI] ([TENLOAI], [MOTA]) VALUES (N'Caffe', N'Vietnam is the world’s second largest producer of coffee. As a Vietnamese brand, Coffee @ hand selects and roasts only the finest aromatic Arabica and bold Robusta beans for our signature blends.')
INSERT [dbo].[PHANLOAI] ([TENLOAI], [MOTA]) VALUES (N'Preeze', N'Our delicious ice-blended beverages are made from premium Vietnamese ingredients and have a range of options with coffee and also without coffee.')
INSERT [dbo].[PHANLOAI] ([TENLOAI], [MOTA]) VALUES (N'Tea', N'Building on Vietnam’s rich tea heritage, we select only the finest teas grown in the cafe@ regions of Vietnam to create delicious, modern tea beverages that include natural fruits and toppings. Served with or without milk.
')
INSERT [dbo].[PHANQUYEN] ([MAQ], [TENQ]) VALUES (N'Q01', N'ADMIN')
INSERT [dbo].[PHANQUYEN] ([MAQ], [TENQ]) VALUES (N'Q02', N'Nhân viên')
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_BAN]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [PK_BAN] PRIMARY KEY NONCLUSTERED 
(
	[TENBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CHITIETBAN]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[CHITIETBAN] ADD  CONSTRAINT [PK_CHITIETBAN] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC,
	[TENBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CHITIETPHEUNHAP]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[CHITIETPHEUNHAP] ADD  CONSTRAINT [PK_CHITIETPHEUNHAP] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEU] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CHITIETPHIEUDAT]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[CHITIETPHIEUDAT] ADD  CONSTRAINT [PK_CHITIETPHIEUDAT] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUDAT] ASC,
	[TENBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__CONTENT__A7EC09E6CC385F69]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[CONTENT] ADD UNIQUE NONCLUSTERED 
(
	[TIEUDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CTHOADON]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[CTHOADON] ADD  CONSTRAINT [PK_CTHOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOADON]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[SDTKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__161CF724661361CF]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHOHANG]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[KHOHANG] ADD  CONSTRAINT [PK_KHOHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_MENU]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [PK_MENU] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__MENU__A58DE95CE005C8C6]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[MENU] ADD UNIQUE NONCLUSTERED 
(
	[TENSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHACUNGCAP]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY NONCLUSTERED 
(
	[SODIENTHOAINCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHACUNGC__161CF724D9A71AF6]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__161CF724134460D9]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHANLOAI]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[PHANLOAI] ADD  CONSTRAINT [PK_PHANLOAI] PRIMARY KEY NONCLUSTERED 
(
	[TENLOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHANQUYEN]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[PHANQUYEN] ADD  CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY NONCLUSTERED 
(
	[MAQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__PHANQUYE__B7FC9BE4DC92C8CB]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[PHANQUYEN] ADD UNIQUE NONCLUSTERED 
(
	[TENQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUDATBAN]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[PHIEUDATBAN] ADD  CONSTRAINT [PK_PHIEUDATBAN] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUNHAP]    Script Date: 10/24/2023 12:17:27 PM ******/
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETB_CHITIETBA_BAN] FOREIGN KEY([TENBAN])
REFERENCES [dbo].[BAN] ([TENBAN])
GO
ALTER TABLE [dbo].[CHITIETBAN] CHECK CONSTRAINT [FK_CHITIETB_CHITIETBA_BAN]
GO
ALTER TABLE [dbo].[CHITIETBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETB_CHITIETBA_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETBAN] CHECK CONSTRAINT [FK_CHITIETB_CHITIETBA_HOADON]
GO
ALTER TABLE [dbo].[CHITIETPHEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_KHOHANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[KHOHANG] ([MAHANG])
GO
ALTER TABLE [dbo].[CHITIETPHEUNHAP] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_KHOHANG]
GO
ALTER TABLE [dbo].[CHITIETPHEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUNHA] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEU])
GO
ALTER TABLE [dbo].[CHITIETPHEUNHAP] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUNHA]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_BAN] FOREIGN KEY([TENBAN])
REFERENCES [dbo].[BAN] ([TENBAN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_BAN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUDAT] FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PHIEUDATBAN] ([MAPHIEUDAT])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT] CHECK CONSTRAINT [FK_CHITIETP_CHITIETPH_PHIEUDAT]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_CTHOADON_MENU] FOREIGN KEY([MASP])
REFERENCES [dbo].[MENU] ([MASP])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_CTHOADON_MENU]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADON_CTHOADON2_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHOADON_CTHOADON2_HOADON]
GO
ALTER TABLE [dbo].[HEDING]  WITH CHECK ADD  CONSTRAINT [PK_heding] FOREIGN KEY([MACT])
REFERENCES [dbo].[CONTENT] ([MACT])
GO
ALTER TABLE [dbo].[HEDING] CHECK CONSTRAINT [PK_heding]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_RELATIONS_NHANVIEN] FOREIGN KEY([SDT])
REFERENCES [dbo].[NHANVIEN] ([SDT])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_RELATIONS_PHANLOAI] FOREIGN KEY([TENLOAI])
REFERENCES [dbo].[PHANLOAI] ([TENLOAI])
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_RELATIONS_PHANLOAI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_RELATIONS_PHANQUYE] FOREIGN KEY([MAQ])
REFERENCES [dbo].[PHANQUYEN] ([MAQ])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_RELATIONS_PHANQUYE]
GO
ALTER TABLE [dbo].[NOIDUNG]  WITH CHECK ADD  CONSTRAINT [PK_ND] FOREIGN KEY([MA])
REFERENCES [dbo].[HEDING] ([MA])
GO
ALTER TABLE [dbo].[NOIDUNG] CHECK CONSTRAINT [PK_ND]
GO
ALTER TABLE [dbo].[PHIEUDATBAN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_RELATIONS_KHACHHAN] FOREIGN KEY([SDTKH])
REFERENCES [dbo].[KHACHHANG] ([SDTKH])
GO
ALTER TABLE [dbo].[PHIEUDATBAN] CHECK CONSTRAINT [FK_PHIEUDAT_RELATIONS_KHACHHAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHACUNGC] FOREIGN KEY([SODIENTHOAINCC])
REFERENCES [dbo].[NHACUNGCAP] ([SODIENTHOAINCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHACUNGC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHANVIEN] FOREIGN KEY([SDT])
REFERENCES [dbo].[NHANVIEN] ([SDT])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHANVIEN]
GO
