USE [QuanCafe]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [char](10) NOT NULL,
	[TENBAN] [nvarchar](10) NULL,
	[VITRI] [nvarchar](20) NULL,
	[TINHTRANG] [nvarchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETBAN]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETBAN](
	[MABAN] [char](10) NOT NULL,
	[MAHD] [char](10) NOT NULL,
 CONSTRAINT [PK_CHITIETBAN] PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC,
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETBANDAT]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETBANDAT](
	[MAPHIEUDAT] [char](10) NOT NULL,
	[MABAN] [char](10) NOT NULL,
 CONSTRAINT [PK_CHITIETBANDAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDAT] ASC,
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MAMON] [char](10) NOT NULL,
	[MAHD] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CHITIETHD] PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC,
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTENT]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTENT](
	[MACONTENT] [varchar](20) NOT NULL,
	[NGAYDANG] [datetime] NULL,
	[TIEUDE] [nvarchar](100) NULL,
	[ANHTD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACONTENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTCONTENT]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTCONTENT](
	[MACONTENT] [varchar](20) NOT NULL,
	[MAND] [varchar](20) NOT NULL,
	[TENHEDING] [nvarchar](100) NULL,
	[NOIDUNG] [nvarchar](400) NULL,
	[ANH] [varchar](20) NULL,
 CONSTRAINT [CTCONTENT_pk] PRIMARY KEY CLUSTERED 
(
	[MAND] ASC,
	[MACONTENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[MAPHIEUNHAP] [char](10) NOT NULL,
	[MAHANG] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIA] [char](10) NULL,
 CONSTRAINT [PK_CTPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](10) NOT NULL,
	[MANV] [char](10) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [float] NULL,
	[TINHTRANG] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [char](30) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PASSWORD] [char](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHO](
	[MAHANG] [char](10) NOT NULL,
	[TENHANG] [nvarchar](50) NULL,
	[DVT] [nvarchar](20) NULL,
	[SOLUONG] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MENU](
	[MAMON] [char](10) NOT NULL,
	[MALOAI] [char](10) NULL,
	[TENMON] [nvarchar](50) NULL,
	[DVT] [nvarchar](20) NULL,
	[GIA] [float] NULL,
	[ANH] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [char](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [char](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[MAQ] [char](10) NULL,
	[TENNV] [nvarchar](50) NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[CMT] [char](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NOIDUNG]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOIDUNG](
	[MAND] [varchar](20) NOT NULL,
	[TEN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANLOAI]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANLOAI](
	[MALOAI] [char](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAQ] [char](10) NOT NULL,
	[TENQ] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[MAPHIEUDAT] [char](10) NOT NULL,
	[MAKH] [char](10) NULL,
	[THOIGIANDAT] [datetime] NULL,
	[THOIGIANNHAN] [datetime] NULL,
	[TINHTRANG] [nvarchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 10/10/2023 6:28:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [char](10) NOT NULL,
	[MANV] [char](10) NULL,
	[MANCC] [char](10) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [VITRI], [TINHTRANG]) VALUES (N'Ban001    ', N'Bàn 01', N'Tầng trệt', N'Trống')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [VITRI], [TINHTRANG]) VALUES (N'Ban002    ', N'Bàn 02', N'Tầng trệt', N'Trống')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [VITRI], [TINHTRANG]) VALUES (N'Ban003    ', N'Bàn 03', N'Tầng trệt', N'Trống')
INSERT [dbo].[CHITIETBAN] ([MABAN], [MAHD]) VALUES (N'Ban001    ', N'HD001     ')
INSERT [dbo].[CHITIETBANDAT] ([MAPHIEUDAT], [MABAN]) VALUES (N'PD001     ', N'Ban002    ')
INSERT [dbo].[CHITIETHD] ([MAMON], [MAHD], [SOLUONG]) VALUES (N'SP001     ', N'HD001     ', 1)
INSERT [dbo].[HOADON] ([MAHD], [MANV], [NGAYLAP], [TONGTIEN], [TINHTRANG]) VALUES (N'HD001     ', N'NV002     ', CAST(N'2023-10-20 00:00:00.000' AS DateTime), 45000, N'Đã thanh toán')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [EMAIL], [DIACHI], [PASSWORD]) VALUES (N'Kh001     ', N'Nguyễn Tấn Tài', N'0987456125', N'tantai@gmail.com              ', N'Tân Phú,Tp.HCM', N'123456              ')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [EMAIL], [DIACHI], [PASSWORD]) VALUES (N'Kh002     ', N'Nguyễn Thị Thu Diễm', N'0123654789', N'Diem01@gmail.com              ', N'Tân Bình,Tp.HCM', N'123456              ')
INSERT [dbo].[KHO] ([MAHANG], [TENHANG], [DVT], [SOLUONG]) VALUES (N'MH001     ', N'Cafe', N'kg', 50)
INSERT [dbo].[KHO] ([MAHANG], [TENHANG], [DVT], [SOLUONG]) VALUES (N'MH002     ', N'Đường', N'kg', 100)
INSERT [dbo].[KHO] ([MAHANG], [TENHANG], [DVT], [SOLUONG]) VALUES (N'MH003     ', N'Muối', N'kg', 50)
INSERT [dbo].[MENU] ([MAMON], [MALOAI], [TENMON], [DVT], [GIA], [ANH]) VALUES (N'SP0025    ', N'L01       ', N'Trà Xanh', N'Ly', 65000, N'anh01.png')
INSERT [dbo].[MENU] ([MAMON], [MALOAI], [TENMON], [DVT], [GIA], [ANH]) VALUES (N'SP001     ', N'L01       ', N'Americano', N'Ly', 45000, N'AMERICANO_NONG.png')
INSERT [dbo].[MENU] ([MAMON], [MALOAI], [TENMON], [DVT], [GIA], [ANH]) VALUES (N'SP002     ', N'L01       ', N'Bạc xỉu', N'Ly', 29000, N'BAC_XIU.png')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC01     ', N'Trung Nguyên', N'TP.Buôn Ma Thuột', N'0987451258')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (N'NCC02     ', N'Vạn Thịnh', N'Tân Bình,Tp.HCM', N'0789456125')
INSERT [dbo].[NHANVIEN] ([MANV], [MAQ], [TENNV], [SDT], [DIACHI], [NGAYSINH], [CMT]) VALUES (N'NV001     ', N'Q01       ', N'Nguyễn Văn Hậu', N'0935841254', N'TP.HCM', CAST(N'1990-12-25 00:00:00.000' AS DateTime), N'0897451254785  ')
INSERT [dbo].[NHANVIEN] ([MANV], [MAQ], [TENNV], [SDT], [DIACHI], [NGAYSINH], [CMT]) VALUES (N'NV002     ', N'Q02       ', N'Nguyễn Mỹ Lan', N'0874521478', N'Quảng Ngãi', CAST(N'2002-02-12 00:00:00.000' AS DateTime), N'098745125478   ')
INSERT [dbo].[NHANVIEN] ([MANV], [MAQ], [TENNV], [SDT], [DIACHI], [NGAYSINH], [CMT]) VALUES (N'NV003     ', N'Q02       ', N'Trần Đức Toàn', N'0147854125', N'Bình Định', CAST(N'2000-02-19 00:00:00.000' AS DateTime), N'082451147414   ')
INSERT [dbo].[PHANLOAI] ([MALOAI], [TENLOAI]) VALUES (N'L01       ', N'Cafe')
INSERT [dbo].[PHANLOAI] ([MALOAI], [TENLOAI]) VALUES (N'L02       ', N'PREEZE')
INSERT [dbo].[PHANLOAI] ([MALOAI], [TENLOAI]) VALUES (N'L03       ', N'Trà')
INSERT [dbo].[PHANQUYEN] ([MAQ], [TENQ]) VALUES (N'Q01       ', N'Quản lý')
INSERT [dbo].[PHANQUYEN] ([MAQ], [TENQ]) VALUES (N'Q02       ', N'Nhân viên')
INSERT [dbo].[PHIEUDAT] ([MAPHIEUDAT], [MAKH], [THOIGIANDAT], [THOIGIANNHAN], [TINHTRANG]) VALUES (N'PD001     ', N'KH001     ', CAST(N'2023-09-09 00:00:00.000' AS DateTime), CAST(N'2023-09-09 10:00:00.000' AS DateTime), N'Chưa nhận')
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_BAN]    Script Date: 10/10/2023 6:28:23 PM ******/
ALTER TABLE [dbo].[BAN] ADD  CONSTRAINT [PK_BAN] PRIMARY KEY NONCLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOADON]    Script Date: 10/10/2023 6:28:23 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 10/10/2023 6:28:23 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHO]    Script Date: 10/10/2023 6:28:23 PM ******/
ALTER TABLE [dbo].[KHO] ADD  CONSTRAINT [PK_KHO] PRIMARY KEY NONCLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_MENU]    Script Date: 10/10/2023 6:28:23 PM ******/
ALTER TABLE [dbo].[MENU] ADD  CONSTRAINT [PK_MENU] PRIMARY KEY NONCLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHACC]    Script Date: 10/10/2023 6:28:23 PM ******/
ALTER TABLE [dbo].[NHACC] ADD  CONSTRAINT [PK_NHACC] PRIMARY KEY NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 10/10/2023 6:28:23 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHANLOAI]    Script Date: 10/10/2023 6:28:23 PM ******/
ALTER TABLE [dbo].[PHANLOAI] ADD  CONSTRAINT [PK_PHANLOAI] PRIMARY KEY NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHANQUYEN]    Script Date: 10/10/2023 6:28:23 PM ******/
ALTER TABLE [dbo].[PHANQUYEN] ADD  CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY NONCLUSTERED 
(
	[MAQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUDAT]    Script Date: 10/10/2023 6:28:23 PM ******/
ALTER TABLE [dbo].[PHIEUDAT] ADD  CONSTRAINT [PK_PHIEUDAT] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEUNHAP]    Script Date: 10/10/2023 6:28:23 PM ******/
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY NONCLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETB_CHITIETBA_BAN] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[CHITIETBAN] CHECK CONSTRAINT [FK_CHITIETB_CHITIETBA_BAN]
GO
ALTER TABLE [dbo].[CHITIETBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETB_CHITIETBA_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETBAN] CHECK CONSTRAINT [FK_CHITIETB_CHITIETBA_HOADON]
GO
ALTER TABLE [dbo].[CHITIETBANDAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETB_CHITIETBA_BAN1] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[CHITIETBANDAT] CHECK CONSTRAINT [FK_CHITIETB_CHITIETBA_BAN1]
GO
ALTER TABLE [dbo].[CHITIETBANDAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETB_CHITIETBA_PHIEUDAT] FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PHIEUDAT] ([MAPHIEUDAT])
GO
ALTER TABLE [dbo].[CHITIETBANDAT] CHECK CONSTRAINT [FK_CHITIETB_CHITIETBA_PHIEUDAT]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHITIETHD_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETH_CHITIETHD_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETH_CHITIETHD_MENU] FOREIGN KEY([MAMON])
REFERENCES [dbo].[MENU] ([MAMON])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETH_CHITIETHD_MENU]
GO
ALTER TABLE [dbo].[CTCONTENT]  WITH CHECK ADD  CONSTRAINT [FK_CTCONTENT_RELATIONS_CONTENT] FOREIGN KEY([MACONTENT])
REFERENCES [dbo].[CONTENT] ([MACONTENT])
GO
ALTER TABLE [dbo].[CTCONTENT] CHECK CONSTRAINT [FK_CTCONTENT_RELATIONS_CONTENT]
GO
ALTER TABLE [dbo].[CTCONTENT]  WITH CHECK ADD  CONSTRAINT [FK_CTCONTENT_RELATIONS_NOIDUNG] FOREIGN KEY([MAND])
REFERENCES [dbo].[NOIDUNG] ([MAND])
GO
ALTER TABLE [dbo].[CTCONTENT] CHECK CONSTRAINT [FK_CTCONTENT_RELATIONS_NOIDUNG]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUN_CTPHIEUNH_KHO] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[KHO] ([MAHANG])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUN_CTPHIEUNH_KHO]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUN_CTPHIEUNH_PHIEUNHA] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUN_CTPHIEUNH_PHIEUNHA]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_RELATIONS_NHANVIEN]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_RELATIONS_PHANLOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[PHANLOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_RELATIONS_PHANLOAI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_RELATIONS_PHANQUYE] FOREIGN KEY([MAQ])
REFERENCES [dbo].[PHANQUYEN] ([MAQ])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_RELATIONS_PHANQUYE]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_RELATIONS_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_RELATIONS_KHACHHAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHACC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHACC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHA_RELATIONS_NHANVIEN]
GO
