
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}


<form action="xu-ly-don-dat-ban.php" method="post">
    <label for="ten">Tên của bạn:</label>
    <input type="text" id="ten" name="ten" required><br><br>

    <label for="dien-thoai">Số điện thoại:</label>
    <input type="tel" id="dien-thoai" name="dien-thoai" required><br><br>

    <label for="so-luong-nguoi">Số lượng người:</label>
    <input type="number" id="so-luong-nguoi" name="so-luong-nguoi" required><br><br>

    <label for="thoi-gian">Thời gian đặt bàn:</label>
    <input type="datetime-local" id="thoi-gian" name="thoi-gian" required><br><br>

    <label for="yeu-cau-khac">Ý kiến đặc biệt (nếu có):</label>
    <textarea id="yeu-cau-khac" name="yeu-cau-khac" rows="4" cols="50"></textarea><br><br>

    <input type="submit" value="Gửi đặt bàn">
</form>